---
---

@import "{{ site.theme }}";

body, html {
  height: 100%;
}

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00134c+0,002a7f+20,002a7f+80,1e69de+100 */
  background: rgb(0,19,76); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(0,19,76,1) 0%, rgba(0,42,127,1) 20%, rgba(0,42,127,1) 80%, rgba(30,105,222,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,19,76,1) 0%,rgba(0,42,127,1) 20%,rgba(0,42,127,1) 80%,rgba(30,105,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,19,76,1) 0%,rgba(0,42,127,1) 20%,rgba(0,42,127,1) 80%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00134c', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 */

  color: #d1e6d1;
  line-height: 1.5;
  letter-spacing: 0px;
  word-spacing: 0px;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}

td, th, tr {
  background: rgba(0, 0, 0, 0);
}

a {
  color: #d5ff9d;
}

a:hover {
  color: #ff9da5;
  text-decoration: underline;
}
